<h1>Regulars#show</h1>
<h2><%= flash[:notice] if flash[:notice] %></h2>
<div id="textform">
	<%= form_tag 'new/', method: "post" do %>
	  <%= label_tag :message, "Enter Daily Special:" %>
	  <%= text_field_tag :message, '', class: "form-control", placeholder: "Type it here." %>
	  <button type="submit" class="btn btn-primary">SEND THE WORD!</button>
	<% end %>
</div>
