/*This is where the nav partials are styled*/
body{
	margin: 0px;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.nbfixed{
	color: white;
	font-size: x-large;
	text-align: center;
}

.usernav{
	font-size: small;
}

li{
	display: inline;
}

ul{
	font-size: small;
	font-family: lucida grande, sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: left;
	display: inline;
	text-decoration: none;
}

.nunav{
	text-align: right;
}

/*This is where the home page is styled*/
#homebod{
	background-image: url('/assets/restaurant-bar.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#navbar{
	margin: 0 auto;
	margin-left: 0px;
	height: 30px;
	width: 100%;
	padding: 1%;
	background-color: black;
	text-align: center;
	position: fixed;
	z-index: 1000;
}

#sec1, #sec2, #sec4, #sec5, #sec6, #sec8, #sec9{
	/*border: solid red 2px;*/
	height: 500px;
	width: 100%;
}

#sec0{
	/*border: solid red 2px;*/
	height: 700px;
	width: 100%;
}

.fnhome{
	color: white;
	margin-top: 5%;
}

#sec1{
	background-color: white;
	height: 500px;
}

.a-frame{
	margin: 0 auto;
	float: left;
	margin-left: 3%;
	margin-top: 6%;
}

.para1{
	margin: 0 auto;
	float: left;
	display: inline;
	position: relative;
	text-align: center;
	margin-top: 18%;
	font-size: 150%;
	font-family: lucida grande, sans-serif;
}
/*signup*/
#sec3{
	background-image: url('/assets/tableandtent.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	text-align: center;
	height: 700px;
	width: 100%;
}

#signupbod{
	height: 690px;
	background-image: url('/assets/tableandtent.png');
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center;
}

#signupform{
	margin: 0 auto;
	display: block;
	float: left;
	position: absolute;
	margin-top: 15%;
    margin-left: 41%;
    font-family: lucida grande, sans-serif;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

/*Signin*/
#sec5{
	background-color: white;
	height: 400px;
	padding-top: 1%;
}

.sibutton{
	font-size: large;
	background-color: #d3d3d3;
}

#signinform{
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
	font-size: x-large;
	font-family: lucida grande, sans-serif;
}

/*About*/
#sec7{
	background-image: url('/assets/chalkboard1.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	font-family: 'chalkduster';
	font-size: x-large;
	color: white;
}

h1.abouthead{
	text-align: center;
	padding-top: 5%;
	font-size: xx-large;
	font-family: 'Coming Soon', cursive;
}

.para2{
	margin: 0 auto;
	width: 90%;
	line-height: 160%;
	font-family: 'Coming Soon', cursive;
}

/*This is where the contact page is styled*/
#sec9{
	background-image: url('/assets/settable.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 700px;
	position: relative;
}

h1.contacthead{
	margin: 0 auto;
	text-align: center;
	padding-top: 20%;
	font-family: Arial;
}

/*This is where the user/business show/profile page is styled*/
#profilebod{
	background-image: url('/assets/wineglassart.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}

#uppernav{
	display: block;
	margin: 0 auto;
	margin-left: 192px;
}

#textform{
	margin-left: 190px;
	font-size: x-large;
}

.form-control{
	font-size: large;
	height: 100px;
	width: 250px;
}

.btn-text{
	background-color: #d3d3d3;
	font-size: large;
	margin-left: 42px;
}

#lowernav{
	display: block;
	margin: 0 auto;
	margin-left: 680px;
    margin-top: 400px;
}

/*This is where the User/business profile is styled for a mobile phone*/
@media (max-width: 400px){
	#profilebod{
		background-image: url('/assets/wineglassartup.png');
	}

	#uppernav{
		display: block;
		margin: 0 auto;
		margin-top: 80px;
		margin-left: 76px;
	}

	#textform{
		margin: 0 auto;
		margin-left: 72px;
		margin-top: 30px;
		font-size: large;
	}

	.form-control{
		height: 150px;
	}

	#btn-text{
		margin-top: 16px;
	}

	#lowernav{
		display: block;
		margin: 0 auto;
		width: 180px;
		margin-left: 220px;
		margin-top: 250px;
	}
}

/*This is where the edit account page is styled*/
#editactbod{
	height: 690px;
	background-image: url('/assets/tablecircle.jpg');
	background-size: 54%;
	background-repeat: no-repeat;
	background-position: center;
}

.back-btn{
	float: right;
	font-size: x-large;
}

