<ul class="navwhite">
	<h1>
		<li><%= link_to 'Home', root_path, style: 'color:#ffffff' %></li>&nbsp;
		<li><%=link_to 'About', about_path, style: 'color:#ffffff' %></li>&nbsp;
		<li><%=link_to 'Search', search_path, style: 'color:#ffffff' %></li>&nbsp;
		<li><%= link_to 'Contact', contact_path, style: 'color:#ffffff' %></li>
	</h1>
</ul>