<ul class="usernav">
	<h1>
		<li><%= link_to 'Sign-out', logout_path, method: :delete, data: { confirm: "ARE YOU SURE YOU WANT TO LOGOUT ?"} %></li>&nbsp;
		<li><%=link_to 'Edit Account', edit_user_path %></li>&nbsp;
		<li><%=link_to 'Edit Regulars', edit_path %></li>
	</h1>
</ul>